{
  "presets": [
    ["@babel/preset-env", {
      "modules": "commonjs",
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["module-resolver", { "root": ["./"] }]
  ]
}
