import React from 'react';
// import PropTypes from 'prop-types';

{{import}}

{{styles}}

const {{componentName}} = props => (
  {{render}}
);

{{componentName}}.propTypes = {
  // TODO add props here
};
{{componentName}}.defaultProps = {};

{{export}}
