import React from 'react';

import { storiesOf } from '@storybook/react-native';

import resolutionDecorator from 'app/src/core/components/resolution-decorator';

import {{componentName}} from './{{componentPath}}.{{extension}}';

storiesOf('{{storiesOf}}', module)
  .addDecorator(resolutionDecorator({ justifyContent: 'flex-start' }))
  .add('{{componentName}}', screenSize => (
    <{{componentName}} screenSize={screenSize} />
  ));
