import React from 'react';

import { storiesOf } from '@storybook/react-native';

import {{componentName}} from './{{componentPath}}.{{extension}}';

storiesOf('{{storiesOf}}', module)
  .add('{{componentName}}', screenSize => (
    <{{componentName}} screenSize={screenSize} />
  ));
